.vscode/

__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Data folder
data/
output/

# temp file of latex
report/root.*
!report/root.tex

# temp file of latex
cdc_paper/root.*
!cdc_paper/root.tex